html,body{
  height: 100%;
  /* background-color: azure; */
}

.header{
    height: 50px;
    position: absolute;
    top:0;
    z-index: 900;
}

.main-content{
    min-height: 600%;
    padding-top:50px;
    padding-bottom:50px;
}

.footer{
    position: relative;
    top: -200px;
    height: 200px;
    background-color: #F5F5F5;
}
